#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&left_encoder { status = "okay"; };






/ {
    macros {
        move: move {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp M &kp ENTER>;
                               
        };


        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 50>,
                <&macro_tap &kp C &kp O &kp ENTER>;



    };

        dim: dim {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 50>,
                <&macro_tap &kp D &kp ENTER>;



    };


};


};




/ {



    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                                    &kp ESC         &move           &copy
                                    &kp KP_N7       &kp KP_N8       &kp KP_N9
                                    &kp KP_N4       &kp KP_N5       &kp KP_N6
                                    &kp KP_N1       &kp KP_N2       &kp KP_N3
                        &kp C_MUTE  &mo 1           &kp KP_N0       &lt 2 ENTER    
                    >;

                sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        function_layer { // Layer 1
            bindings = <
                                    &kp F10         &kp F11         &kp F12
                                    &kp F7          &kp F8          &kp F9
                                    &kp F4          &kp F5          &kp F6
                                    &kp F1          &kp F2          &kp F3
                    &dim            &trans          &kp KP_DOT      &kp DEL  
                    >;          
                
                 };
        bt_layer { // Layer 2
            bindings = <
                                    &trans          &trans          &trans
                                    &trans          &trans          &trans
                                    &trans          &trans          &bt BT_CLR
                                    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2
                    &bootloader     &KP_NUM          &trans          &trans
                    >;
                    
                  };   
             };

    };